* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #444444;
    background: #f0efef !important;
  }
  

.topHeader {
    /*
    background-image: url("../img/img_header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  */
    background: #3165A5;
    height: 110px;
}

.icon-navbar-top{
    color:rgb(235, 234, 234);
}

/*Tablet*/
@media screen and (min-width: 768px) and (max-width:1023px) {
    .topHeader {
        max-height: 220px;
    }
}

/*Smatphone*/
@media screen and (min-width: 230px) and (max-width:539px) {
    .topHeader {
        height: 120px;
    }
}

.nav-header-top {
    background-color: #3c8bda;
}   

.navbar-dark-new .navbar-nav .nav-link {
    color: rgb(233, 230, 230);
    font-weight: 600;
}

.navbar-dark-new .navbar-nav .nav-link.nav-link:hover{
    color: rgb(255, 255, 255); 
}

/* footer inicio */
footer {
    color: white;
    background-color: #3165A5;
    width: 100%;
    padding: 50px;
    display: block;
}

/* botão sweet alert */div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm  {
    background-color: #3165A5 !important;
    padding-left:9px;
    padding-right:10px;
    padding-bottom:6px;
    padding-top:6px;
}


  